body {
  background-color: darksalmon;
}

main {
  padding: 40px 20% 40px;
}

div {
  margin: 20px;
  background-color: rgb(202, 202, 202);
  border: solid 2px black;
  padding: 5px;
}

.div-2 {
  text-align: center;
}
.div-3 {
  text-align: right;
}
