/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

:root {
  --seda: hsl(31, 77%, 52%);
  --suv: hsl(184, 100%, 22%);
  --luxu: hsl(179, 100%, 13%);
}

@font-face {
  font-family: "Lexend Deca";
  src: ("./fontFamily/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Big Shoulders Display";
  src: (
    "./fontFamily/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf"
  );
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca";
  font-weight: 400;
}
h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display";
  font-weight: 700;
}

main {
  display: flex;
  justify-content: space-between;
}

article {
  flex: 1;
  padding: 20px;
  text-align: left;
  padding: 4%;
}

#sedans {
  background-color: var(--seda);
}

#suvs {
  background-color: var(--suv);
}

#luxury {
  background-color: var(--luxu);
}

button {
  border-radius: 40px;
  border: none;
  background-color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px white solid;
}

button.seda {
  color: var(--seda);
}
button.seda:hover {
  background-color: var(--seda);
}

button.suv {
  color: var(--suv);
}
button.suv:hover {
  background-color: var(--suv);
}

button.luxu {
  color: var(--luxu);
}
button.luxu:hover {
  background-color: var(--luxu);
}

button:hover {
  color: white;
  cursor: pointer;
}
