$colorBack: #f9f9f9;
$colorBack2: rgb(238, 235, 235);
$colorSilver: #b3aeae;
$colorSilver2: rgb(223, 221, 221);

body {
  background: $colorBack;
}

.buscador {
  #logo,
  #imgSearch {
    float: left;
  }
  span {
    float: right;

    button {
      background-color: $colorBack;
      border: none;
      color: $colorSilver;
      font-weight: 700;
      cursor: pointer;
    }
  }
  #search {
    background-color: $colorBack;
    background-image: url("./images/search.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 10px 35px;

    &:focus {
      border: 1px $colorSilver2 solid;
    }
  }
}

.menu {
  border-top: $colorSilver 1px solid;
  border-bottom: $colorSilver 1px solid;
  a {
    display: inline-block;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    color: $colorSilver;
    font-size: 14px;
    &:nth-child(1) {
      font-weight: 500;
      background-color: $colorBack2;
      color: black;
    }
  }
  img {
    margin-top: 10px;
    float: right;
  }
}
#today {
  h2 {
    float: left;
  }
}

#week,
#today {
  margin: 20px 5px;
  padding: 5px 10px;
  clear: both;
  h2 {
    display: inline-block;
    font-weight: 200;
    font-size: 20px;
  }

  .img-app {
    clear: both;
    border-top: 1px solid $colorSilver;

    h3 {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 2px;
    }
    p {
      margin-top: 2px;

      font-size: 14px;
      color: $colorSilver;
    }
    .appImg {
      float: left;
      margin: 20px 20px 20px 0px;
      height: 80px;
    }
  }
}
.close {
  float: right;
  margin-top: 16px;
  &:hover {
    cursor: pointer;
  }
}
#popu {
  h4 {
    font-weight: 100;
    font-size: 13px;
  }
  float: right;
}

.more {
  margin: 50px 0px 20px;
  img,
  p {
    display: inline;
  }
  img {
    height: 10px;
  }

  font-size: 12px;
  text-align: center;
  color: $colorSilver;

  &:hover {
    cursor: pointer;
  }
}

.box {
  padding: 2px;
  display: flex;
  align-content: center;
  margin: 3px 5px;
  gap: 10px;

  span {
    cursor: pointer;

    border: $colorSilver 1px solid;
    gap: 3px;
    font-size: 12px;
    .imgBox {
      margin: 0px;
      float: left;
    }

    .vote {
      height: 20px;
    }
    .comm {
      height: 12px;
      margin: 4px;
    }

    p {
      display: inline-block;
      margin: 0px 4px;
      float: right;
    }

    i {
      margin: 4px;
    }
  }
}
.box-XS {
  display: none;
}

#noti {
  color: $colorSilver;
  margin: 5px;
  padding: 5px 10px 20px;
  background-color: $colorBack;
  text-align: center;
  p {
    display: inline-block;
  }
  strong {
    color: black;
  }
  form {
    clear: both;
  }
  input {
    padding: 5px;
  }

  .sus {
    padding: 7px;
    border: 0px;
    color: $colorBack;
    border-radius: 2px;
    background-color: rgb(255, 106, 0);
  }
}

@media (width <= 600px) {
  #search {
    border: none;
  }
  .box-XS {
    display: inline;
  }
  #noti {
    display: none;
  }
}

@media (width > 600px) {
  main {
    padding: 30px 10px;
    background-color: $colorSilver2;
  }
  #search {
    width: 60vw;
    border: 1px $colorSilver2 solid;
  }
  #week,
  #today {
    background: $colorBack;
  }
}
