body {
  background: #f9f9f9;
}

.buscador #logo,
.buscador #imgSearch {
  float: left;
}
.buscador span {
  float: right;
}
.buscador span button {
  background-color: #f9f9f9;
  border: none;
  color: #b3aeae;
  font-weight: 700;
  cursor: pointer;
}
.buscador #search {
  background-color: #f9f9f9;
  background-image: url("./images/search.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 10px 35px;
}
.buscador #search:focus {
  border: 1px rgb(223, 221, 221) solid;
}

.menu {
  border-top: #b3aeae 1px solid;
  border-bottom: #b3aeae 1px solid;
}
.menu a {
  display: inline-block;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;
  color: #b3aeae;
  font-size: 14px;
}
.menu a:nth-child(1) {
  font-weight: 500;
  background-color: rgb(238, 235, 235);
  color: black;
}
.menu img {
  margin-top: 10px;
  float: right;
}

#today h2 {
  float: left;
}

#week,
#today {
  margin: 20px 5px;
  padding: 5px 10px;
  clear: both;
}
#week h2,
#today h2 {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
}
#week .img-app,
#today .img-app {
  clear: both;
  border-top: 1px solid #b3aeae;
}
#week .img-app h3,
#today .img-app h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 2px;
}
#week .img-app p,
#today .img-app p {
  margin-top: 2px;
  font-size: 14px;
  color: #b3aeae;
}
#week .img-app .appImg,
#today .img-app .appImg {
  float: left;
  margin: 20px 20px 20px 0px;
  height: 80px;
}

.close {
  float: right;
  margin-top: 16px;
}
.close:hover {
  cursor: pointer;
}

#popu {
  float: right;
}
#popu h4 {
  font-weight: 100;
  font-size: 13px;
}

.more {
  margin: 50px 0px 20px;
  font-size: 12px;
  text-align: center;
  color: #b3aeae;
}
.more img,
.more p {
  display: inline;
}
.more img {
  height: 10px;
}
.more:hover {
  cursor: pointer;
}

.box {
  padding: 2px;
  display: flex;
  align-content: center;
  margin: 3px 5px;
  gap: 10px;
}
.box span {
  cursor: pointer;
  border: #b3aeae 1px solid;
  gap: 3px;
  font-size: 12px;
}
.box span .imgBox {
  margin: 0px;
  float: left;
}
.box span .vote {
  height: 20px;
}
.box span .comm {
  height: 12px;
  margin: 4px;
}
.box span p {
  display: inline-block;
  margin: 0px 4px;
  float: right;
}
.box span i {
  margin: 4px;
}

.box-XS {
  display: none;
}

#noti {
  color: #b3aeae;
  margin: 5px;
  padding: 5px 10px 20px;
  background-color: #f9f9f9;
  text-align: center;
}
#noti p {
  display: inline-block;
}
#noti strong {
  color: black;
}
#noti form {
  clear: both;
}
#noti input {
  padding: 5px;
}
#noti .sus {
  padding: 7px;
  border: 0px;
  color: #f9f9f9;
  border-radius: 2px;
  background-color: rgb(255, 106, 0);
}

@media (width <= 600px) {
  #search {
    border: none;
  }
  .box-XS {
    display: inline;
  }
  #noti {
    display: none;
  }
}
@media (width > 600px) {
  main {
    padding: 30px 10px;
    background-color: rgb(223, 221, 221);
  }
  #search {
    width: 60vw;
    border: 1px rgb(223, 221, 221) solid;
  }
  #week,
  #today {
    background: #f9f9f9;
  }
}

/*# sourceMappingURL=styles.css.map */
